<section class="d-flex flex-column align-items-center">
    <div class= 'head bg-secondary m-5 d-flex flex-column align-items-center'>
        <h1 class="opacity-75 p-3  ">Dashboard</h1>
    </div>

    <article class= 'postBox m-5'>
        <div class = 'postHead d-flex justify-content-center bg-secondary p-3'>
            <h3>Your Posts:</h3>
        </div>
        {{#each posts as |post|}}
        <div class=" d-flex justify-content-between m-3 pastPost align-items-center">
            <h5 class= 'postContent m-2'> {{post.title}}</h5>
            <button type="button" class="btn btn-light m-2">Edit this post</button>
        </div>
        {{/each}}
        <div class = 'd-flex flex-column align-items-center justify-content-center m-3'>
            <input type='text' id='title'>
            <input type = 'text' id='content'>
            <button class= 'btn' id='postBtn'>Add Post</button>
        </div>
    </article>
</section>
<script src='./js/dashBoard.js'></script>