
<section class= 'd-flex justify-content-center align-items-center flex-column m-5 p-5 postBox'>
    <h3 class ='postContent'>Oops, looks like you arent logged in. if youd like to see your dashboard or leave a comment, please login, or feel free to make an account</h3>
    <div class='btnHolder d-flex'>
        <button class='btn button text-light m-3' id='signUpBtn'>Sign Up</button>
        <button class='btn button text-light m-3' id='loginBtn'>Login</button>
    </div>
</section>
<script src = './js/loginSignUp.js'