body{
    background-color: rgb(155, 189, 195);
}

.navText {
    color: black !important;
    opacity: 1;
}

.head{
    width: 90%;
    border-radius: 15px;
    box-shadow: 5px 5px 30px #007bff;
}
.postBox{
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 30px #007bff;
    border: 5px solid #6c757d;
}
.postHead{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.postContent{
    font-size: large;
    font-weight: 500;
}
.pastPost{
    border: 3px solid #6c757d;
}
.textInput{
    width: 75%;
}

.button{
    border-radius: 10px;
    background-color:#569fe3 ;
    color: #506865;
}